[tool.black]
line-length = 120
target-version = ["py311"]
skip-string-normalization = false
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 120
known_first_party = ["app", "tests"]
combine_as_imports = true
force_sort_within_sections = true
include_trailing_comma = true
multi_line_output = 3


